
:root {
    --primary-color: #f1f6fb;    
    --accent-color: #3498db;     
    --bg-color: #000000;         
    --text-color: #1B2559;
    --white: #ffffff;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font-family: 'Segoe UI', sans-serif; 
    color: var(--text-color); 
    background-color:#F4F7FE;
    min-height: 100vh;
}


/* --- CONFIGURATION DU HEADER --- */
.header {
    background-color: #253d93;
    height: 60px;
    padding: 0 20px;
    
    
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* --- LOGO MARQUE (GAUCHE) --- */
.brand-logo {
    width: 150px;
    height: 50px; 
    display: flex;
    align-items: center;
}

.brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}


.header-controls {
    display: flex;
    align-items: center;
    gap: 20px; 
}


.icon-link {
    display: flex;          /* Enlève l'espace vide sous les images dans les liens */
    align-items: center;
    transition: transform 0.2s ease;
}

.icon-link img {
    width: 32px;            
    height: 32px;
    object-fit: contain;
    cursor: pointer;
}

.icon-link:hover {
    transform: scale(1.1);
    opacity: 0.9;
}
/*/////////////////////////////////////////////////////////*/

/* SLIDEBAR */
.app-container {
    display: flex; /* Aligne la sidebar et le main côte à côte */
    min-height: calc(100vh - 60px); /*hauteur - header pour laisser place au logo*/
}


.sidebar {
    width: 13%;
    background-color:#253d93; 
    padding-top: 20px;
    flex-shrink: 0; 
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav ul li a {
    display: block;
    padding: 15px 25px;
    color: #ecf0f1;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar-nav ul li a:hover, .sidebar-nav ul li a.active {
    background-color: #34495e;
    color: #3498db;
    border-left: 4px solid #3498db; 
}

.dashboard-main {
    flex-grow: 1; 
    display: flex; 
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
}


/* =========================================
   BOUTON BURGER
   ========================================= */
.menu-toggle {
    display: none; /* Caché sur ordi*/
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto; /*bonton a droite*/
    padding: 0;
    
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    border-radius: 3px;
}

/* =========================================
   responsive
   ========================================= */
@media (max-width: 900px) {

    .menu-toggle {
        display: block;
    }

    .sidebar {
        position: fixed;        
        top: 60px;              
        left: 0;
        width: 100%;            
        height: calc(100vh - 60px); 
        background-color: #253d93;
        z-index: 1000; /*au dessus du reste*/
        
        transform: translateX(-100%); 
        transition: transform 0.3s ease-in-out;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .sidebar.active {
        transform: translateX(0);
    }

    .sidebar-nav ul {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .sidebar-nav ul li a {
        padding: 20px;
        font-size: 18px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
}










