.ticket-detail-main {
    flex: 1;
    background-color: #F4F7FE; 
    padding: 30px;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.ticket-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.ticket-detail-header h1 {
    font-size: 24px;
    font-weight: 700;
    color: #1B2559;
    margin: 0;
}

.back-btn {
    text-decoration: none;
    color: #A3AED0;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.2s;
}

.back-btn:hover {
    color: #2D5BFF;
}


.ticket-detail-section {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 30px; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-bottom: 30px;
}


.detail-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #F4F7FE; 
}


.detail-row:last-child {
    border-bottom: none;
}

/*////////////////*/
.info-group {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    max-width: 80%;
}


.label {
    font-size: 12px;
    font-weight: 600;
    color: #A3AED0; 
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.value {
    font-size: 16px;
    font-weight: 700;
    color: #1B2559; 
}

.description-text {
    font-weight: 500;
    color: #586185;
    line-height: 1.6;
    margin: 0;
}

.text-blue {
    color: #2D5BFF; 
}


.edit-btn {
    background: transparent;
    border: none;
    color: #2D5BFF;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.2s;
    background-color: #eff4fb; 
}

.edit-btn:hover {
    background-color: #2D5BFF;
    color: white;
}


.status-badge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 13px;
}

.status-nouveau {
    background-color: #E6F7FF;
    color: #0095FF;
}

.collaborators-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    background-color: #2D5BFF;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 700;
}